main{
    margin-bottom: 5em;
}

.card{
    margin-bottom: 2em;
}

.group-btn-add{
    margin-bottom: 2em;
}

.card-header {
    cursor: pointer;
}

.card-header-shadow {
    border: solid 1px #7F8C8D;
    box-shadow: 3px 3px;
}
